.super-mario {
    position: absolute;
    width: 200px;
  }
  
  .goomba {
    position: absolute;  
    width: 100px;
    bottom: 150px;
    left: 80px;
  }
  
  .baloon {
  position: absolute;    
  left: 300px;
  z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 320px;
    bottom: 460px;
    z-index: 2;
  }
  
  .bowser {
      position: absolute;
    width: 200px;
    right: 500px;
    bottom: 200px;

  }