* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: 20px 0;
}

fieldset {
    background-color: lightgrey;
    border-radius: 8px;
    width: 70%;
    padding: 10px;
    margin: 0 auto;
}

legend {
    background-color: lightgrey;
    border-top: 1px solid black;
    border-radius: 13px;
    width: 20%;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

input[type="text"] {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

select {
    margin: 10px;
}

.div {
    margin: 10px;
    display: block;
}

input[type="radio"] {
    margin: 3px;
}

.div2 {
    margin: 20px 0;
}

textarea {
    display: block;
}